@media all
{
	#wpwrap #widgets-right .widget.filter_hide
	{
		opacity: .5;
	}

	#wpwrap .sidebar-name h2
	{
		position: relative;
	}

		#wpwrap .sidebar-name h2 .spinner
		{
			position: absolute;
			right: 2em;
			top: 1em;
		}

	#wpwrap .sidebar-name h2 em, #wpwrap .widget-title h3 em
	{
		display: inline-block;
		font-weight: normal;
		font-size: .8em;
		margin-left: .5em;
	}
}